* {
    box-sizing: border-box;
  }

body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 140%;
}

.bg-primary {
    padding-top: 0%;
    background-image: url("../images/giphy.gif") !important;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

.navPosition {
    padding-bottom: 7%;;
}

@media screen and (max-width: 710px) {
    .navPosition {
        padding-bottom: 13%;
    }
}

.navBorder:hover {
    background-color: white;
    background-image: linear-gradient(orange,pink);
    padding: 2%;
    border-radius: 5px;
    padding-bottom:7%;
}

.nav-link {
    color: black !important;
    font-weight: bolder;
    font-size: 125%;
}

@media screen and (max-width: 476px) {
    .navPosition {
        font-size: 75%;
    }
}
.navbar{
    background-image: linear-gradient(pink,orange);
}

.container {
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("assets/images/giphy.gif");
}

.introDiv {
    padding-left: 3%;
    padding-bottom: 5%;
    text-align: center;
    font-weight: bold;
}


.name {
    font-weight: bolder;
    font-size: 300%;
    margin-top: 8%;
    color: #44BF75;
}

.profession {
    font-weight: bolder;
    font-size: 250%;
}


.skills {
    font-size: 155%;
    font-weight: bolder;
}

.photoDiv {
    text-align: center;
}

.profilePic {
    max-width: 20%;
    height: auto;
    border-radius: 100%;
}

.bg-secondary {
    background-color:rgb(253, 148, 148) !important;
}

.aboutSection {
    text-align: center;
    color: black;
    padding-bottom: 4%;
    padding-top: 1%;
}

.aboutParagraph {
    text-align: center;
    color:black;
    
    font-size: 150%;
}

.portfolio {
    color:  black !important;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
}

.thumbnailWrapper {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.imgMod {
    width: 100%;
    height: 100%;
    padding: 2%;;
    border-style: solid;
    border-color: black;
    border-width: medium;
    margin: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.projectName {
    color: black !important;
    font-weight: bolder;
}

.contact {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}

.bg-info{
    background-color: rgb(255, 217, 0) !important;
}

button {
    border-radius: 5px;
    margin-bottom: 1%;
    background-color:white;
    border-color: black;
    padding-bottom:7px;
}

button:hover {
    background-color: black;
    color: white;
}

.footer {
    text-align: center;
    background-color:white;
    color:black;
    font-size: 100%;
    padding: 1%;
}